/* google font application */
body{
    font-family: 'Poppins', sans-serif;
}

/* carousel image customizations */
.carousel-item img{
filter: brightness(50%) saturate(150%);
}

/* carousel intr0 text customization */
.intro{
    font-weight: 600;
    color: white;
    font-size: 5vw;
}

/* carousel description text customization */
.intro-description{
    font-weight:100;
    color:white;
    font-size: 1.5vw;
}
.get-started{
    font-size: 2vw;

}

/* card title color */
.card-body{
    color: black;
}

/* explore section bg color customization */
.institute{
    background-color: #F4FAFD;
}


.name{
    font-size: 15px;
    font-weight: 600;
}
.designation{
    font-size:13px;
    font-weight:100;
}

/* carousel contro position modification */
.carousel-control-next-icon{
    margin-left:130px;
    margin-top: 30px;
}
.carousel-control-prev-icon{
    margin-right:130px;
    margin-top: 30px;

}